---
interface Props {
  title: string;
}

const { title } = Astro.props;
const COLOR_BG = import.meta.env.COLOR_BG || 'hsla(158, 23%, 18%, 1)';
const COLOR_TEXT = import.meta.env.COLOR_TEXT || 'hsla(160, 52%, 71%, 1)';
const COLOR_GRADIENT = import.meta.env.COLOR_GRADIENT || 'linear-gradient(to bottom, hsla(158, 23%, 18%, 0) 0%, hsl(158, 23%, 18%) 100%)';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen"
    style={`--color-bg: ${COLOR_BG}; --color-text: ${COLOR_TEXT}; --color-gradient: ${COLOR_GRADIENT}; background-color: var(--color-bg); color: var(--color-text);`}
  >
    <slot />
  </body>
</html>
